body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

.grid-container img {
    width: 100%;
    border-radius: 10px; /* Adjust as needed */
}

/* Media Queries */
@media screen and (min-width: 772px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    }

    .grid-container img {
        max-height: 30vh;
    }

    .grid-container img:last-child {
        grid-column: span 2;
    }
}

@media screen and (min-width: 992px) {
    .grid-container img {
        border-radius: 0;
    }

    .grid-container img:nth-child(3n) {
        grid-column: span 2;
    }
}

@media (prefers-reduced-motion: reduce) {
    /* Adjust scroll behavior for reduced motion */
    body {
        scroll-behavior: auto !important;
    }
}

@media (prefers-color-scheme: dark) {
    /* Adjust styles for dark mode */
    body {
        background-color: #333;
        color: #fff;
    }
}
